<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <form id="qrTest">
        <!-- Input field for QR scanner data -->
        <input type="text" id="qrVal" name="qrVal" placeholder="Scan QR code here">
        <!-- <button type="submit">submit</button> -->
    </form>

    <!-- Button to start listening for input -->
    <button id="startListening">Start Listening for QR</button>

    <!-- Refresh button -->
    <button id="refresh">Refresh</button>

    <script src="../render/qrRenderer.js"></script>
</body>
</html>
